.div-padre {
    display: flex;
    border:  1px solid black;
    gap: 5px;
    padding: 5px;
}


.div-adoptado {

    border: 1px solid red;
    height: 50px;
    width: 50px;

}

.div-segundo-hijo{
 border: 1px solid rgb(74, 192, 186);
    height: 50px;
    width: 50px;

}