
#container {
 
    display: flex;
    justify-content: center;
    align-items: center;

    /* Imagen de fondo (estructura) */
    background-image: url("../assets/imagenes/fondo.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* FORMULARIO */
.form-contacto {
    background-color: rgba(65, 221, 221, 0.92);
    padding: 24px;
    border-radius: 14px;
    max-width: 400px;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 14px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* INPUTS */
.form-contacto input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

/* Boton */
.form-contacto button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.form-contacto button:hover {
    background-color: #2980b9;
}

/* RESPonsivo a dispositvos moviles */
@media (max-width: 600px) {
    .form-contacto {
        margin: 0 16px;
        padding: 20px;
    }
}
