body {
    margin: 0;
    height: 100vh;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-form {
    background-color: white;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
    text-align: center;
}

.login-form input {
    padding: 8px;
}

.login-form button {
    padding: 8px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #2980b9;
}
