
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#app {
width: 100vw;
height: 100vh;
display: grid;
grid-template-columns: 300px 1fr;
gap: 10px;
}
#nav {
width: 15%;
height: 100vh;
border: 1px solid D#000;
}
#container {
width: 70%;
height: 100vh;
border: 1px solid D#000;
}